@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
    color: #243e63;
}

.no__click {
    cursor: not-allowed;
}

.container {
    padding: 96px 0;
}

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    display: inline;
    
}

a:hover {
    text-decoration: underline 2px solid rgb(99, 21, 255);
    
    
}

ul {
    list-style-type: none;
}

.purple__text {
    color:rgb(99, 21, 255);
}
.btn {
    transition: all 300ms;
}

.btn:hover {
    transform: translateX(-1px);
    transform: translateY(-1px);
    box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.404);
    background-color: rgb(87, 20, 221);
    color: white;
}


/* 

NAV BAR

*/

.landing__container {
    margin-bottom: 90px;
}


nav {
    padding-top: 32px;
    display: flex;
    
  
}

.nav__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1380px;
    margin: 0 auto;
   
}

.nav__row {
    display: flex;
    justify-content: space-between;

}

.nav__logo {
    color: rgb(36, 62, 99);
    font-size: 24px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1.6px;
}

.nav__logo--purple {
    color: white;
    background-color: rgb(99, 21, 255);
    padding: 4px 10px;
    border-radius: 3px;    
}

.nav__links {
    padding-bottom: 2px;
    display: flex;
    align-items: center;
}

.nav__link {
    padding-top: 4px;
    color: rgb(36, 62, 99);
    white-space: nowrap;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.35px;
    position: relative;
    margin: 0 24px;
}



.navigation {
    margin: 10px 32px;
    
}

.sign-up__button {
    background-color: rgb(99, 21, 255);
    padding: 10px 30px;
    border-radius: 50px;
    color: white;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.35px;
    margin: 0 12px;
    text-decoration: underline rgb(87, 20, 221);
}

.sign-up__button:hover {
    background-color: rgb(87, 20, 221);
}


.sign-up {
    color:white;
}

/* 

HEADER 

*/

.header {
    display: flex;
}

.header__container {
    padding-top: 96px;
    display: flex;
    width: 100%;
    max-width: 1260px;
    margin: 0 auto;
}

.header__img {
    width: 100%;
    max-width: 768px;
}

.header__row {
  
    width: 40%;
}

.section__title {
    font-size: 48px;
    color: #1a202c;
    line-height: 1.25;
    /* padding-top: 25px; */
    margin: 16px 0;
}

.landing__title {
    padding-top: 16px;
}

.header__para {
    margin: 32px 0;
    font-size: 18px;
    line-height: 1.5;
}


.header__email {
    width: 100%;
    max-width: 448px;
    height: 68px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}

.header__email--box {
    display: flex;
    width: 100%;
    border-radius: 500px;
    height: 72px;
    font-size: 18px;
    position: relative;
   
}

input {
    padding-left: 28px;
    border: 2px solid #243e6321;
    transition: all 300ms;
}

input:hover {
    border: 2px solid #243e6357;
}


.email__button {
    position: absolute;
    color: white;
    background-color: rgb(99, 21, 255);
    border: none;
    width: 160px;
    height: 50px;
    border-radius: 60px;
    transform: translateX(-10px);
    font-weight: bold;
    font-size: 16px;
    transition: all 250ms;
}

.email__button:hover {
    box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.404);
    background-color: rgb(87, 20, 221);
    color: white;
}

.email__button:hover {
    background-color: rgb(74, 16, 189);
}


.header__customers--title {
    margin-top: 80px;
    font-size: 12px;
    font-weight: 700;
    color:#243e6370;
}

.header__customers--img {

    transition: translateX(200px);
    width: 100%;
    max-width: 370px;
    margin-top: 16px;
    opacity: 0.5;

}

/* 

FEATURES

*/

.features__container {
    display: flex;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;

}

.features__row {
    text-align: center;
   
}

.section__title--two {
    color: #243e63;
    font-weight: 900;
    letter-spacing: 0.025em;
}

.features__section--tag {
    letter-spacing: 1.6px;
}

.features__truck {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    justify-content: space-evenly;
    
}

.features__trailer {
    width: calc(100% / 3);
}

.features__box {
   display: flex;
   align-items: flex-start;
   padding: 32px 24px;
}

.features__secure--logo {
    display: flex;
    padding: 20px;
    border: 1px solid rgba(124, 139, 161, 0.247);
    border-radius: 50%;
   
}


.features__img {
    width: 32px;
    height: 32px;
}

.features__text {
    margin-top: 8px;
    margin-left:16px;
    text-align: left;
}

.feature__para {
    margin-top: 16px;
    font-size: 16px;
    max-width: calc(634px / 3);
    color: rgb(124, 139, 161);
    line-height: 2;
    font-weight: 500;
    text-align: left;
}

.features__title--para {
    text-align: center;
    max-width: 576px;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 700;
    color:#212d447c;
    line-height: 1.625;
}

/* 

QUALITY 

*/

.quality__row {
    display:flex;
    width: 100%;

}

.quality__title {
    width: calc(100% /2);

}

.quality-work {
    letter-spacing: 1.6px;
}

.quality__title--professionals {
    font-weight: 900;
    font-size: 48px;
   margin-top: 20px;

}

.quality__para {
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.625;
    color: #7c8ba1;
    font-weight: 500;
    text-align: left;
}

.quality__btn {
    margin-top: 20px;
    background-color:rgb(99, 21, 255);
    color: #ffff;
    padding: 12px 32px;
    border-radius: 500px;
    border: none;
    font-weight: 500;
    font-size: 14px;
}

.quality__img--wrapper {
    display: flex;
    width: calc(100% / 2);
    align-items: center;
    justify-content: center;
}

.quality__img {
    width: 550px;
    border: 1px solid rgba(128, 128, 128, 0.144);
}

/* 

STEPS 

*/

.steps__row {
    display: flex;
}

.steps__description h1 {
    font-size: 48px;
    margin: 12px 0;
}

.step {
    display: flex;
    margin-top: 32px;

}

.step__number {
    font-size: 36px;
    font-weight: 600;
    color: #cbd5e0;
}

.step__description {
    margin-left: 24px;
    max-width: 320px;
}

.step__title h2 {
    font-size: 24;
    font-weight: 700;
}

.step__para {
    margin-top: 12px;
    color: #243e63;
    font-size: 14px;
    line-height: 2;
}

.steps__img {
    position: relative;
    z-index: 2;
}